.section-header input {
    background-color: #111;
    color: #ddd;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 0.95rem;
}

.section-header input:focus {
    border-color: #00c4cc;
    outline: none;
}

.section-header input::placeholder {
    color: #aaa;
}

.windows-software-list ul {
    list-style: none;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.windows-software-list li {
    position: relative;
    padding-left: 1.5rem; /* Leave space for the ✔ icon */
}

.windows-software-list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    margin-right: 5px;
    color: #00c4cc;
    font-size: 1rem;
}

.wsl-software-list ul {
    list-style: none;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.wsl-software-list li {
    position: relative;
    padding-left: 1.5rem; /* Leave space for the ✔ icon */
}

.wsl-software-list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    margin-right: 5px;
    color: #00c4cc;
    font-size: 1rem;
}


